.shopping-item-card{
    margin: 3px;
    background-color: #55555e;
    color: bisque;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;


}

.shopping-item-card h4{
    margin: 0;
}

.bulletpoint{
    width: 10px;
    height: 10px;
    background-color: bisque ;
    border-radius: 100%;
    margin-right: 5px;

}